services:
  db:
    image: mysql:8.0
    container_name: emart_db
    restart: always
    environment:
      MYSQL_DATABASE: emart_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ecommerce-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: emart_backend
    restart: always
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=emart_db
      - DB_USER=root
      - DB_PASSWORD=root
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - ecommerce-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: emart_frontend
    restart: always
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge

volumes:
  mysql_data:
